@import "media";

html, body {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #74ABE2, #5563DE);
  font-family: 'Ropa Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.slider {
  position: relative;
  width:  100%;
  text-align: center;
  overflow: hidden;
  margin: auto;
  //max-width: 800px;
  padding: 0 25px;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  //scroll-snap-type: x mandatory;
}
.slides::-webkit-scrollbar {
  display: none;
  width: 0;
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  //scroll-snap-align: start;
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  //border-radius: 10px;
  background: #eee;
  position: relative;
  margin: 0 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  box-sizing: border-box;
}


.carousel__nav-item{
  position: absolute;
  top:50%;
  margin-top: -25px;
  -webkit-appearance: none;
  border: 0;
  border-radius: 50%;
  padding: 0;
  width: 52px;
  height: 52px;
  line-height: 52px;
  background-color: #fff;
  box-shadow: 0 1px 8px rgba(0,0,0,.06), 0 2px 4px rgba(0,0,0,.12);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  svg{
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
  }
}
.carousel__nav-prev{
  left: 0;
}
.carousel__nav-next{
  right: 0;
}



